{% extends "ReservationBundle:Default:base.html.twig" %}

{% block title %}{{ parent() }} - Réservation {% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %} {{ parent() }}

<section class="mt-3" id="reservation-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <!-- Section form -->
                    <section id="form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                {{ form_errors(form) }}

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div  class="btn btn-block btn-primary btn-default mb-2"><span class="glyphicon glyphicon-arrow-right"></span> Etape 1 : choisir sa date de visite</div>
                                                </div>
                                            <div class="form-group col-6 col-md-6">
                                                {{ form_label(form.date) }}
                                                {{ form_errors(form.date) }}
                                                {{ form_widget(form.date, {'id': 'datepicker' , 'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="form-group col-6 col-md-6">
                                                {{ form_label(form.type) }}
                                                {{ form_errors(form.type) }}
                                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="form-group col-6 col-md-6">
                                                {{ form_label(form.email) }}
                                                {{ form_errors(form.email) }}
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="form-group col-6 col-md-6">
                                                <label>Cliquez pour ajouter un ticket</label>
                                                <a href="#" id="add_category" class="btn btn-default btn-primary w-100">Ajouter un ticket</a>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                            <div class="col-lg-12">
                                                <div  class="btn btn-block btn-danger btn-default mb-2">Lire attentivement : conseils pour les futurs visiteurs</div>
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                        <table class="table table-bordered table-sm rounded">
                                                            <thead>
                                                            <tr>
                                                                <th class="text-center">Catégorie</th>
                                                                <th class="text-center">Prix</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-center">
                                                                    <td>Bébé (Moins de 4 ans)</td>
                                                                    <td>Gratuit</td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>Enfant (Entre 4 & 12 ans)</td>
                                                                    <td>8 €</td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>Réduit (Sous certaines conditions)</td>
                                                                    <td>10 €</td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>Sénior (A partir de 60 ans)</td>
                                                                    <td>12 €</td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>Adulte (A partir de 12 ans)</td>
                                                                    <td>16 €</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </div>
                                                <div class="col-lg-7">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">Impossible de réserver pour les dimanches & jours fériés</li>
                                                            <li class="list-group-item">Tout les justificatifs doivent présentés à l'accueil.</li>
                                                            <li class="list-group-item">La réservation d'un billet "journée" n'est plus possible après 14h.</li>
                                                        </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-md-12">
                                            {{ form_label(form.tickets, "Informations sur les futurs visiteurs", {'label_attr': {'class': 'control-label'}}) }}
                                            {{ form_errors(form.tickets) }}
                                            {{ form_widget(form.tickets, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                    {{ form_end(form) }}
                                </div>
                                </div>


                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% block javascripts %}{{ parent() }}{% endblock %}

{% endblock %}