<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réservation du Louvre</title>

    {% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="{{ asset('js/bootstrap.js') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    {% endblock %}

</head>
<body>
<!--Section top -->
<section id="top">
    <div class="container-fluid">
        <div class="row justify-content-center m-2">
            <div class="container">
                <img class="embed-responsive" src="{{ asset('Louvre_Museum.jpg') }}">
            </div>
        </div>
    </div>
</section>
<!--Section  -->
<section id="reservation-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container">
                <div class="col-lg-12">
                    <!-- Section form -->
                    <section id="form">
                        <div class="row">
                            <div class="col-lg-12">

                            <h3>Formulaire de réservation</h3>

                            <div class="well">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                {{ form_errors(form) }}

                                <div class="row">
                                    <div class="form-group col-6 col-md-6">
                                        {{ form_label(form.date, "Date", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_errors(form.date) }}
                                        {{ form_widget(form.date, {'id': 'datepicker' , 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group col-6 col-md-6">
                                        {{ form_label(form.type, "Type", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_errors(form.type) }}
                                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6 col-md-6">
                                        {{ form_label(form.email, "Email", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_errors(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group col-6 col-md-6">
                                        {{ form_label(form.tickets, "Tickets", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_errors(form.tickets) }}
                                        {{ form_widget(form.tickets, {'attr': {'class': 'form-control'}}) }}
                                        <a href="#" id="add_category" class="btn btn-default">Ajouter un ticket</a>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                {{ form_end(form) }}
                            </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>



    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8ZDycWLNyfK62bbu9o_pSTsZsQjgalBU &callback=initMap">
        </script>
        <script>
            function initMap() {
                var louvre = {lat: 48.860711, lng: 2.337640};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: louvre
                });
                var marker = new google.maps.Marker({
                    position: louvre,
                    map: map
                });
            }
        </script>
        <script>
            $(function(){
            $.datepicker.regional['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
                dayNamesMin: ['D','L','M','M','J','V','S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};
            $.datepicker.setDefaults($.datepicker.regional['fr']);

                disableTuesday = function(date) {
                    console.log(date);
                    var day = date.getDay();
                    if (day == 2) {
                        return [false] ;
                    }
                    else {
                        return [true] ;
                    }
                }
                $('#datepicker').datepicker({ beforeShowDay: disableTuesday });
                $('#reservationbundle_ticket_user_birthday').datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            })
        </script>



        <script type="text/javascript">
            $(document).ready(function() {
                var $container = $('div#reservationbundle_command_tickets');
                var index = $container.find(':input').length;
                $('#add_category').click(function(e) {
                    addCategory($container);
                    e.preventDefault();
                    return false;
                });

                if (index == 0) {
                    addCategory($container);
                } else {
                    $container.children('div').each(function() {
                        addDeleteLink($(this));
                    });
                }

                function addCategory($container) {
                    var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                        .replace(/__name__/g,        index)
                    ;

                    var $prototype = $(template);
                    addDeleteLink($prototype);
                    $container.append($prototype);
                    index++;
                }

                function addDeleteLink($prototype) {
                    var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                    $prototype.append($deleteLink);
                    $deleteLink.click(function(e) {
                        $prototype.remove();
                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>



    {% endblock %}

</body>
</html>