<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réservation du Louvre</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

</head>
<body>

<div class="col-lg-6 rounded-circle">
    <ul class="list-group">
        <li class="list-group-item">Date : {{ command.date|date("d/m/Y") }}</li>
        <li class="list-group-item">Type de billet : {% if command.type == 1 %}Journée {% elseif command.type == 0 %} Demi-Journée {% endif %}</li>
        <li class="list-group-item">Adresse email : {{ command.email }}</li>
        <li class="list-group-item">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                        <th>Pays</th>
                        <th>Type & prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in command.tickets %}
                    <tr>
                        <td>{{ ticket.firstName }}</td>
                        <td>{{ ticket.lastName }}</td>
                        <td>{{ ticket.birthday|date('d/m/Y') }}</td>
                        <td>{{ ticket.country }}</td>
                        <td>{{ ticket.type }} : {{ ticket.price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item text-center">
            <form action="http://localhost/P4/Symfony/web/app_dev.php/payment/validation" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_H75BpLVwVoeOxQqF6zPIhjAJ"
                        data-amount="{{ command.getTotalPrice }}"
                        data-name="Paiement des tickets"
                        data-description="Musée du Louvre"
                        data-image="{{ asset('paris_louvre_icon.png') }}"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>
        </li>
    </ul>


</div>


</body>
</html>